.main {
display: flex;
}

canvas {
width: 640px;
height: 640px;
}

#content {
border: 5px gray solid;
margin: 5px;
border-radius: 7px;
height: 650px;
width: 650px;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

nav {
	border-bottom: 2px red solid;
}

body {
	margin: 0px;
	font-family: sans-serif;
}
