@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
#main {
display: flex;
flex-direction: row;
}

#mainCanvas {
width: 640px;
height: 640px;
image-rendering: pixelated;
}

#content {
border: 5px gray solid;
margin: 5px;
border-radius: 7px;
}

ul {
	list-style-type: none;
	margin-top: .2em;
	margin-bottom: .2em;
}

li {
	display: inline;
}

nav {
	border-bottom: 2px red solid;
}

body {
	margin: 0px;
	font-family: 'Roboto Mono', sans-serif;
}

#controls {
	/*width: 150px;*/
	margin: 5px;
	border: 5px gray solid;
	border-radius: 7px;
	/*min-width: 150px;
	max-width: 150px;
	max-height: 25px;*/
}

#title {
	font-size: 1.2em;
}

.pickerButton {
	height: 25px;
	width: 25px;
	padding: 0px;
}

#sidepanel {
	display: flex;
	flex-direction: column;
}

p {
	margin: 5px;
}
